*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

h1 {
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.05rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem 2rem;
}

img {
  display: block;
  max-width: 100%;
  width: 300px;
  height: auto;
  opacity: 0.3;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}
